.comments::-webkit-scrollbar{
    display: none;
}

.card-footer{
    background-color: white;
    margin-top: 8px;
    padding: 0.3rem 0;
}

.comment_input {
    width: 100%;
    display: flex;
    align-items: center;
}

.comment_input input {
    font-size: 1rem;
    /* padding: 0.5rem 0; */
    background: white;
    border: none;
    outline: none;
    flex: 1;
    overflow: auto;
}

.comment_input .postBtn {
    border: none;
    outline: none;
    background: white;
    color: blue;
    font-weight: 600;
}

.comment_input .dropdown-menu {
    transform: translate3d(-1px, -205px, 0px) !important
}

/* ---------- Comments ---------- */
.comment_display {
    padding: 1px 10px;
}

.comment_card .comment_content {
    /* background: #eee; */
    padding: 7px;
    border-radius: 10px;
    border-top-left-radius: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.comment_card .comment_content .flex-fill {
    /* text-align:justify; */
}

.comment_card .comment_content i{
    font-size: 1rem;
}

.comment_card .comment_content .readMore {
    cursor: pointer;
    color: crimson;
}

.comment_card .comment_content .nav-item {
    cursor: pointer;
    opacity: 0;
}

.comment_card .comment_content:hover .nav-item {
    opacity: 1;
}

.comment_card .comment_content .dropdown-menu {
    position: absolute;
    right: 0;
    left: inherit;
}

.comment_card .comment_content .dropdown-item {
    display: flex;
    margin: 10px 0;
}

.comment_card .comment_content textarea {
    border: 2px solid rgba(0, 0, 0, .125);
    box-shadow: 0 0 10px #ddd;
    padding: 2px 8px;
    width: 100%;
    /* border: none; */
    outline: none;
}