.header{
    background: var(--color-white);
    width: 100%;
    /* max-width:1200px; */
    min-height: 70px;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 10;
    border: 1px solid rgba(0, 0, 0, .125);
    box-shadow: 0 0 3px #ddd;
}
.header .navbar {
    align-items: center;
    max-width:1000px;
    margin: auto;
    width: 100%;
    height: 100%;
}

.header .log {
    font-size: 3rem;
    text-decoration: none;
}

.header .log h1 {
    /* display: inline-block; */
    margin: 0;
}

.header .search_form{
    position: relative;
}


.header .search_form #search {
    /* background: #fafafa; */
    /* border: 1px solid #ddd; */
    min-width: 330px;
    width: 100%;
    outline: none;
    text-indent: 5px;
    border-radius: 3px;
}

.header .search_form .close_search {
    font-size: 20px;
    position: absolute;
    top: 7px;
    right: 12px;
    cursor: pointer;
    font-weight: 900;
}

.header .search_form .users {
    position: absolute;
    width: 100%;
    min-width: 250px;
    background: #fff;
    min-height: calc(100vn - 150px);
    overflow: auto;
    text-decoration: none;
}

.search-bar {
    background: var(--color-light);
    border-radius: var(--border-radius);
    padding: 5px;
    /* margin-left: 30px; */
}

.search-bar input[type="search"] {
    background: transparent;
    /* width: 21vw; */
    padding: 5px;
    /* margin-left: 1rem; */
    font-size: 0.9rem;
    color: var(--color-dark);
}

nav .search-bar input[type="search"]::placeholder {
    color: var(--color-gray);
}

.header .menu .navbar-nav{
    align-items: center;
}

.header .menu li {
    opacity: 0.8;
    font-size: 30px;
}

.header .menu li.active {
    opacity: 1;
}

nav .menu .dropdown-menu{
    position: absolute;
    left: inherit;
    right: 0;
    min-width: 14rem;
}

.menu .dropdown-menu .dropdown-item{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0.5rem;
}

.menu .dropdown-menu .dropdown-item img{
    margin-right: 13px;
}

/* .menu .dropdown-menu .uil{
    font-size: 20px;
    margin-right: 5px;
} */
img{
    object-fit: cover;
}

/* ===============RESPONSIVE ==================*/

@media screen and (max-width: 768px) {
    .header .menu{

        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        /* height: 50px; */
        z-index: 10;
        box-shadow: 0 0 10px #ddd;
    }

    .header .menu .navbar-nav{
        background: var(--color-white);
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .header .menu .dropdown-menu{
        bottom:100%;
        top: auto;
    }

    .header .search_form{
        margin: auto;
        width: 100%;
    }

    .header .log{
        margin: auto;
        font-size: 1.5rem;
    }
}
