.home{
    width: 60%;
}
.create-status {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 0 10px #ddd;
    margin-top: 0.7rem;
    background: var(--color-white);
    padding: 0.4rem var(--card-padding);
    border-radius: 10px;
}

.create-status .statusBtn {
    border:none;
    outline: none;
    justify-self: start;
    width: 100%;
    padding-left: 1rem;
    padding: 25px;
    background: transparent;
    color: var(--color-dark);
    margin-right: 1rem;
}


/* ===============RESPONSIVE========== */
@media screen and (max-width: 768px) {
    .home{
        width: 100%;
    }
    .create-status .statusBtn {
        padding:16px;
    }
}