.toast{
    animation: slideLeft ease .4s, fadeOut linear 1s 2.5s forwards;
}

@keyframes slideLeft {
    from { 
        opacity: 0;
        transform: translateX(calc(100% + 32px));
    }
    to { 
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeOut{
    to{
        opacity: 0;
    }
}